@font-face {
  font-family: "NM";
  src: url("./assets/fonts/NeueMontreal-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "NM";
  src: url("./assets/fonts/NeueMontreal-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "NM";
  src: url("./assets/fonts/NeueMontreal-Bold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "fagon";
  src: url("./assets/fonts/fagon.otf") format("opentype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "NM", sans-serif;
  font-weight: 400;
  background-color: #faf8f8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  /* margin-bottom: 0 !important; */
}

p {
  /* margin-bottom: 0 !important; */
}

.fagon {
  font-family: "fagon";
}

.sec-tag {
  font-size: 20px;
  margin-bottom: 16px;
  color: #686868;
}

.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}

/* Nav bar Start */

.main-navbar {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
}

.main-navbar .navbar-nav .nav-link {
  color: #fff;
  position: relative;
  transition: color 0.3s ease;
}
.main-navbar .navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 2px;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  transition: width 0.3s ease;
}
.main-navbar .navbar-nav .nav-link:hover:after {
  width: 70%;
}

.mainNav-outer__div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.mainNav-list,
.mainNav-right {
  width: 500px;
  flex-basis: 500px;
  flex-grow: unset;
}
.mainNav-right {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 12px;
}
.main-navbar .navbar-brand {
  flex-grow: 1;
  text-align: center;
}
.main-navbar .navbar-brand img {
  width: 200px;
}

.mainNav-right__icon {
  border: unset;
  background: transparent;
  line-height: 1;
  color: #fff;
  font-size: 25px;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}

.mainNav-right .nav-link {
  font-size: 16px;
  border: 1px solid;
  color: #fff;
  padding: 10px 20px;
  line-height: 1;
  border-radius: 30px;
  transition: all 0.25s linear;
}

.mainNav-right .login-btn:hover {
  background-color: #000;
  border-color: #000 !important;
}

.mainNav-right .become-vendor-btn {
  background-color: #000;
  border-color: #000 !important;
  letter-spacing: 1px;
}
/* Nav bar End */

/* .main-banner {
  position: relative;
  background-image: url(assets/images/main-banner-bg.png);
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 200px 0;
  z-index: 1;
  overflow: hidden;
}

.main-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  z-index: -1;
} */

.main-banner {
  position: relative;
  color: #fff;
  text-align: center;
  padding: 200px 0;
  z-index: 1;
  overflow: hidden;
}

/* .main-banner {
  background-image: url(assets/images/main-banner-bg.png);
} */

.main-banner-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.5;
}

.main-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.9;
  z-index: -1;
}

.banner-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.banner-images img {
  width: 140px;
}

.main-banner__content h1 {
  font-size: 50px;
  font-weight: 500;
}
.main-banner__content p {
  font-size: 16px;
  max-width: 520px;
  margin: 0 auto 16px;
}
.theme-btn {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  padding: 12px 20px;
  line-height: 1;
  border-radius: 30px;
  transition: all 0.25s linear;
  text-decoration: none;
  display: inline-block;
}
.body-btn {
  border: 1px solid #212121;
  background: transparent;
  color: #212121;
  padding: 12px 20px;
  line-height: 1;
  border-radius: 30px;
  transition: all 0.25s linear;
  text-decoration: none;
  display: inline-block;
}
.body-btn:hover {
  background-color: #212121;
  color: #fff;
}

.main-banner__buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}
.theme-fill-btn:hover {
  filter: invert(1);
}
.theme-btn__white-bg {
  background-color: #fff;
  color: #000;
}
.theme-btn__transparent-bg:hover {
  background-color: #fff;
  color: #000;
}

/* Testimonial Sec */
.testimonial-sec {
  margin: 60px 0;
  overflow: hidden;
}

.testimonial-sec .sec-head {
  text-align: center;
  max-width: 570px;
  margin: -110px auto 30px;
}
.testimonial-sec .sec-head h2 {
  font-size: 44px;
  font-weight: 500;
}

.testimonial-card {
  background-color: #212121;
  color: #fff;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.testimonial-card-flex-row {
  flex-direction: row-reverse;
}
.testimonial-card.lightGray {
  background-color: #ebefef;
  color: #212121;
}

.testimonial-card-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.testimonial-rating-details {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.testimonial-card-content h4 {
  font-size: 26px;
  line-height: 1.2;
  /* display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden; */
}
.testimonial-rating-stars {
  max-width: 90px;
}
.testimonial-rating-stars img {
  width: 100%;
}
.testimonial-rating p {
  font-size: 14px;
  color: #9e9e9e;
}
.testimonial-user h5 {
  font-size: 18px;
  font-weight: 700;
}
.testimonial-user {
  text-align: right;
}
.testimonial-user p {
  font-size: 14px;
}
.testimonial-card-img img {
  width: 100%;
}

.testimonial-card-flex-row .testimonial-card-img {
  width: 100%;
}
.testimonial-card-flex-row .testimonial-card-img img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.testimonial-card-flex-row .testimonial-card-content {
  flex-grow: 1;
}
/* Testimonial Sec */

.stress-free__sec {
  background-image: url(assets/images/stress-free-bg.png);
  background-size: cover;
  background-position: center;
  padding: 120px 0;
  text-align: center;
  overflow: hidden;
}

.stress-free__sec .sec-head {
  color: #fff;
}

.stress-free__sec .sec-head h2 {
  font-size: 50px;
  line-height: 1.1;
}
.stress-free__sec .sec-head p {
  font-size: 16px;
  max-width: 640px;
  margin: 0 auto 16px;
}

.home-about__sec {
  padding: 60px 0;
  overflow: hidden;
}

.home-about__sec .sec-head h2 {
  font-size: 74px;
  line-height: 1;
  font-weight: 500;
}

.home-about__sec .sec-head p {
  font-size: 16px;
  color: #686868;
}

.why-choose__sec {
  background-image: url(assets/images/why-choose-bg.png);
  background-size: cover;
  background-position: center;
  padding: 120px 0;
  overflow: hidden;
}

.why-choose__sec .sec-head {
  text-align: center;
  color: #fff;
  max-width: 758px;
  margin: 0 auto 40px;
}

.why-choose__sec .sec-head h2 {
  font-size: 67px;
  line-height: 1;
  font-weight: 500;
}

.why-choose__box {
  display: flex;
  align-items: center;
  gap: 11px;
  border: 1px solid #ffffff6b;
  padding: 12px;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  background: #ffffff1a;
  border-radius: 10px;
  height: 100%;
  color: #fff;
}

.why-choose__box-img {
  background: #fff;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
}
.why-choose__box-img img {
  width: 25px;
}

.why-choose__box h6 {
  margin: 0;
  font-size: 16px;
}

.faq-sec {
  margin: 60px 0;
  overflow: hidden;
}

.faq-sec .accordion-item {
  background: #0000;
  border: initial;
  border-bottom: 1px solid #707070;
  border-radius: 0 !important;
  border-radius: initial !important;
}
.faq-sec .accordion-button {
  color: #212121;
  background-color: transparent;
  box-shadow: unset;
  padding-left: 0;
  font-size: 18px;
  font-weight: 500;
}
.faq-sec .accordion-button:not(.collapsed) {
  background: transparent;
  border: unset;
  box-shadow: unset;
  color: #212121;
}
.faq-sec .accordion-body {
  color: #707070;
  padding-left: 0;
  padding-top: 0;
  font-style: 15px;
}
.faq-sec .accordion-item {
  background: transparent;
  border: unset;
  border-bottom: 1px solid #707070;
  border-radius: unset !important;
}

.accordion-button::after {
  content: "";
  background-image: url("Assets/images/plus-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 1rem;
  height: 1rem;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("Assets/images/minus-icon.png");
  transform: rotate(0deg);
}

.faq-sec .sec-head h2 {
  font-size: 69px;
  font-weight: 500;
  line-height: 1;
}

.faq-sec .sec-head {
  margin-bottom: 10px;
}

.faq-sec__leftCol {
  position: relative;
  padding: 40px 20px 40px 0;
  height: 100%;
}
.faq-sec__leftCol:after {
  content: "";
  position: absolute;
  left: -50%;
  top: 0;
  width: 150%;
  height: 100%;
  background: #e7e0da;
  border-radius: 20px;
}

.faq-sec__leftCol .sec-head,
.faq-sec__leftCol .faqs-items {
  position: relative;
  z-index: 1;
}

.grow-wedding__business {
  margin: 60px 0;
  overflow: hidden;
}

.grow-wedding__business .sec-head h2 {
  font-size: 59px;
  font-weight: 500;
  line-height: 1;
}

.grow-wedding__business .sec-head p {
  font-size: 16px;
  color: #212121;
}

.grow-wedding__business-boxes {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.grow-wedding__business-box {
  display: flex;
  align-items: center;
  gap: 16px;
  border: 1px solid #70707036;
  padding: 10px 10px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #ffffff;
}
.grow-wedding__business-box-icon {
  background: #212121;
  width: 70px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border-radius: 5px;
}

.grow-wedding__business-box-icon img {
  width: 30px;
  line-height: 1;
  object-fit: contain;
  object-position: center;
}

.grow-wedding__business-box-content {
  flex-grow: 1;
}

.grow-wedding__business-box-content h4 {
  font-size: 20px;
  margin: 0;
  font-weight: 500;
}

.grow-wedding__business-box-content p {
  font-size: 14px;
  margin: 0;
  color: #686868;
  line-height: 1.3;
}

.grow-wedding__business-leftCol {
  position: relative;
  padding: 40px 20px 40px 0;
  height: 100%;
  display: flex;
  align-items: center;
}
.grow-wedding__business-leftCol:after {
  content: "";
  position: absolute;
  left: -50%;
  top: 0;
  width: 150%;
  height: 100%;
  background: #e7e0da;
  border-radius: 20px;
}

.grow-wedding__business-leftCol .sec-head {
  position: relative;
  z-index: 1;
}

.plan-three {
  margin: 60px 0;
  overflow: hidden;
}

.plan-three .sec-head h2 {
  font-size: 60px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 16px;
}

.plan-three__boxes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  background-image: url(assets/images/plan-three-line.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  padding: 100px 0;
}

.plan-three__box p {
  font-size: 19px;
  line-height: 1.1;
  position: relative;
  z-index: 2;
  color: #212121;
}

.plan-three__box {
  max-width: 210px;
  position: relative;
}

.plan-three__box h5 {
  text-align: end;
  font-weight: 700;
  font-size: 40px;
  position: relative;
  z-index: 1;
  width: fit-content;
  margin: 0 0 -15px auto;
  background: linear-gradient(to top, #ffffff 20%, #000000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.plan-three__box-icon {
  background-color: #212121;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0px);
}
.plan-three__box-icon img {
  width: 35px;
}

.plan-three__box-icon-1 {
  top: 147%;
}
.plan-three__box-icon-2 {
  bottom: 147%;
}
.plan-three__box-icon-3 {
  top: 147%;
}

/* Inner Pages Start */
.inner-banner {
  background: #000;
  padding: 230px 0 140px;
  color: #fff;
}

.inner-banner__content h1 {
  font-size: 70px;
  font-weight: 500;
}

.service-cards-total {
  color: #686868;
  font-size: 30px;
  font-weight: 500;
  margin: 0;
}

.service-cards-top {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.service-cards-top-filters {
  background-color: #e7e0da;
  padding: 8px;
  display: flex;
  gap: 13px;
  border-radius: 5px;
}

.services-cards-filter-btn {
  padding: 3px 12px;
  display: flex;
  align-items: center;
  gap: 5px;
  border: unset;
  border-radius: 5px;
  font-size: 17px;
  color: #686868;
  background: transparent;
}
.services-cards-filter-btn.active {
  background: #fff;
}

.service-card__image {
  position: relative;
}

.service-card {
  margin-bottom: 25px;
}

.service-card__image .swiper-slide .service-image {
  width: 100%;
}
.service-card__image .favorite-btn {
  background: #00000036;
  border-radius: 4px;
  opacity: 1;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: unset;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2;
  color: #fff;
  line-height: 1;
  width: 40px;
  height: 40px;
  font-size: 26px;
}

.service-card__image .swiper-button-prev:after,
.service-card__image .swiper-button-next:after {
  color: #fff;
  font-weight: 900;
  font-size: 16px;
}

.service-card__image .swiper-button-prev,
.service-card__image .swiper-button-next {
  height: unset;
}
.service-card__image .swiper-pagination-bullet {
  border-radius: 7px;
  border: 1px solid #fff;
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
}
.service-card__image .swiper-pagination-bullet-active {
  background-color: #fff;
  width: 50px;
}

.service-card__content h3 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 16px;
}

.service-card__content p {
  font-size: 16px;
  color: #686868;
}

.service-card__content-meta {
  color: #686868;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

.service-card__content-meta-rating {
  color: #000;
}

.service-card__content .features {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
  color: #686868;
}
.photographers-list__sec {
  padding: 70px 0;
}
.service-card__content-btn {
  font-size: 16px;
  border: 1px solid;
  color: #fff;
  padding: 10px 20px;
  line-height: 1;
  border-radius: 30px;
  transition: all 0.25s linear;
  background-color: #000;
  border-color: #000;
}

.service-card__content .actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.service-card__content .actions span {
  font-size: 17px;
  font-weight: 500;
}

.services-cards__pagination {
  display: flex;
  justify-content: center;
  gap: 7px;
}

.services-cards__pagination button {
  color: #686868;
  border: 1px solid #686868;
  line-height: 1;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-radius: 5px;
  font-size: 16px;
}

.services-cards__pagination button.active {
  background: #212121;
  color: #fff;
}

.pagination-next-btn {
  background-color: #212121 !important;
  color: #fff !important;
  padding: 0px 40px;
  border-radius: 22px !important;
}

.wedding-vendors__sec {
  padding: 60px 0;
}

.wedding-vendors__sec .sec-head h2 {
  font-size: 50px;
  line-height: 1;
  font-weight: 500;
}

.wedding-vendors__sec .sec-head {
  max-width: 650px;
}

.wedding-vendors__sec .sec-head p {
  font-size: 16px;
  color: #686868;
}

/* .wedding-form-group */
.form-label {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  user-select: none;
}

.form-control {
  border: 1px solid #707070;
  padding: 10px 16px;
  color: #686868;
  border-radius: 30px;
}
.form-control:focus {
  box-shadow: unset;
}
textarea.form-control {
  resize: none;
  border-radius: 12px;
}

.form-check-input[type="radio"] {
  border: 1px solid #686868;
}
.form-check-input[type="radio"]:focus {
  box-shadow: unset;
}
.form-check-input:checked {
  background: #686868;
}

label.form-check-label {
  color: #686868;
  font-size: 15px;
}

.wedding-checkboxes {
  display: flex;
  column-gap: 16px;
  flex-wrap: wrap;
}

.wedding-form-group {
  margin-bottom: 25px;
}

.form-submit__btn {
  font-size: 16px;
  border: 1px solid;
  color: #fff;
  padding: 13px 16px;
  line-height: 1;
  border-radius: 30px;
  transition: all 0.25s linear;
  background-color: #000;
  min-width: 250px;
}
/* Inner Pages End */

/* Footer Start */
.main-footer,
.footer-copyright {
  background-color: #fff;
}
.main-footer {
  border-top: 1px solid #686868;
}
.footer-quick__links-header {
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 25px;
}

.footer-quick__link {
  color: #686868;
  text-decoration: none;
  font-size: 16px;
  line-height: 1;
  width: max-content;
  position: relative;
  transition: all 0.3s ease;
  padding-bottom: 5px;
}
.footer-quick__link::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 2px;
  background-color: #686868;
  bottom: 0;
  transition: width 0.3s ease;
}
.footer-quick__link:hover {
  font-weight: 500;
}
.footer-quick__link:hover::after {
  width: 100%;
}

.footer-quick__links-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-footer__content-logo {
  max-width: 200px;
  display: inline-block;
}
.main-footer__content-logo img {
  width: 100%;
}
.main-footer__content p {
  font-size: 16px;
  color: #686868;
}
.main-footer__content {
  height: 100%;
  border-left: 1px solid #686868;
  padding-left: 30px;
}

.main-footer__left,
.main-footer__content {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-social-links {
  display: flex;
  gap: 16px;
}

.footer-social-link {
  font-size: 25px;
  color: #000;
  line-height: 1;
  transition: all 0.3s;
  &.facebook:hover {
    color: #1877f2;
  }
  &.instagram:hover {
    color: #e1306c;
  }
  &.whatsapp:hover {
    color: #128c7e;
  }
  &.pinterest:hover {
    color: #e60023;
  }
}

.copyright-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copyright-text {
  margin: 0;
}

.footer-copyright {
  border-top: 1px solid #686868;
  padding: 20px 0;
}

.copyright-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copyright-text {
  margin: 0;
  color: #686868;
  font-size: 16px;
}

.footer-copyright {
  border-top: 1px solid #686868;
  padding: 20px 0;
}

.copyright-links {
  display: flex;
  align-items: center;
  gap: 16px;
}
.copyright-link {
  color: #686868;
  text-decoration: none;
  font-size: 16px;
  font-size: 16px;
  line-height: 1;
  width: max-content;
  position: relative;
  padding-bottom: 2px;
}

.copyright-link::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 2px;
  background-color: #686868;
  bottom: 0;
  transition: width 0.3s ease;
}
.copyright-link:hover::after {
  width: 100%;
}

/* Footer End */
