@font-face {
  font-family: "NM";
  src: url("./assets/fonts/NeueMontreal-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "NM";
  src: url("./assets/fonts/NeueMontreal-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "NM";
  src: url("./assets/fonts/NeueMontreal-Bold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "fagon";
  src: url("./assets/fonts/fagon.otf") format("opentype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "NM", sans-serif;
  font-weight: 400;
  background-color: #faf8f8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  /* margin-bottom: 0 !important; */
}

p {
  /* margin-bottom: 0 !important; */
}

.fagon {
  font-family: "fagon";
}

.sec-tag {
  font-size: 20px;
  margin-bottom: 16px;
  color: #686868;
}

.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}

/* Nav bar Start */

.main-navbar {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
}

.main-navbar .navbar-nav .nav-link {
  color: #fff;
  position: relative;
  transition: color 0.3s ease;
}
.main-navbar .navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 2px;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  transition: width 0.3s ease;
}
.main-navbar .navbar-nav .nav-link:hover:after {
  width: 70%;
}

.mainNav-outer__div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.mainNav-list,
.mainNav-right {
  width: 500px;
  flex-basis: 500px;
  flex-grow: unset;
}
.mainNav-right {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 12px;
}
.main-navbar .navbar-brand {
  flex-grow: 1;
  text-align: center;
}
.main-navbar .navbar-brand img {
  width: 200px;
}

.mainNav-right__icon {
  border: unset;
  background: transparent;
  line-height: 1;
  color: #fff;
  font-size: 25px;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}

.mainNav-right .nav-link {
  font-size: 16px;
  border: 1px solid;
  color: #fff;
  padding: 10px 20px;
  line-height: 1;
  border-radius: 30px;
  transition: all 0.25s linear;
}

.mainNav-right .login-btn:hover {
  background-color: #000;
  border-color: #000 !important;
}

.mainNav-right .become-vendor-btn {
  background-color: #000;
  border-color: #000 !important;
  letter-spacing: 1px;
}
/* Nav bar End */

/* .main-banner {
  position: relative;
  background-image: url(assets/images/main-banner-bg.png);
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 200px 0;
  z-index: 1;
  overflow: hidden;
}

.main-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  z-index: -1;
} */

.main-banner {
  position: relative;
  color: #fff;
  text-align: center;
  padding: 200px 0 150px;
  z-index: 1;
  overflow: hidden;
}

/* .main-banner {
  background-image: url(assets/images/main-banner-bg.png);
} */

.main-banner-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.5;
}

.main-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.9;
  z-index: -1;
}

.banner-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.banner-images img {
  width: 140px;
}

.main-banner__content h1 {
  font-size: 50px;
  font-weight: 500;
}
.main-banner__content p {
  font-size: 16px;
  max-width: 520px;
  margin: 0 auto 16px;
}
.theme-btn {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  padding: 12px 20px;
  line-height: 1;
  border-radius: 30px;
  transition: all 0.25s linear;
  text-decoration: none;
  display: inline-block;
}
.body-btn {
  border: 1px solid #212121;
  background: transparent;
  color: #212121;
  padding: 12px 20px;
  line-height: 1;
  border-radius: 30px;
  transition: all 0.25s linear;
  text-decoration: none;
  display: inline-block;
}
.body-btn:hover {
  background-color: #212121;
  color: #fff;
}

.main-banner__buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}
.theme-fill-btn:hover {
  filter: invert(1);
}
.theme-btn__white-bg {
  background-color: #fff;
  color: #000;
}
.theme-btn__transparent-bg:hover {
  background-color: #fff;
  color: #000;
}

/* Testimonial Sec */
.testimonial-sec {
  margin: 60px 0;
  overflow: hidden;
}

.testimonial-sec .sec-head {
  text-align: center;
  max-width: 570px;
  margin: -110px auto 30px;
}
.testimonial-sec .sec-head h2 {
  font-size: 44px;
  font-weight: 500;
}

.testimonial-card {
  background-color: #212121;
  color: #fff;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.testimonial-card-flex-row {
  flex-direction: row-reverse;
}
.testimonial-card.lightGray {
  background-color: #ebefef;
  color: #212121;
}

.testimonial-card-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.testimonial-rating-details {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.testimonial-card-content h4 {
  font-size: 26px;
  line-height: 1.2;
  /* display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden; */
}
.testimonial-rating-stars {
  max-width: 90px;
}
.testimonial-rating-stars img {
  width: 100%;
}
.testimonial-rating p {
  font-size: 14px;
  color: #9e9e9e;
  margin-bottom: 0;
}
.testimonial-user h5 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
}
.testimonial-user {
  text-align: right;
}
.testimonial-user p {
  font-size: 14px;
  margin-bottom: 0;
}
.testimonial-card-img img {
  width: 100%;
}

.testimonial-card-flex-row .testimonial-card-img {
  width: 100%;
}
.testimonial-card-flex-row .testimonial-card-img img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.testimonial-card-flex-row .testimonial-card-content {
  flex-grow: 1;
}
/* Testimonial Sec */

.stress-free__sec {
  background-image: url(assets/images/stress-free-bg.png);
  background-size: cover;
  background-position: center;
  padding: 120px 0;
  text-align: center;
  overflow: hidden;
}

.stress-free__sec .sec-head {
  color: #fff;
}

.stress-free__sec .sec-head h2 {
  font-size: 60px;
  line-height: 1.1;
}
.stress-free__sec .sec-head p {
  font-size: 16px;
  max-width: 640px;
  margin: 0 auto 16px;
}

.home-about__sec {
  padding: 60px 0;
  overflow: hidden;
}

.home-about__sec .sec-head h2 {
  font-size: 74px;
  line-height: 1;
  font-weight: 500;
}

.home-about__sec .sec-head p {
  font-size: 16px;
  color: #686868;
}

.why-choose__sec {
  background-image: url(assets/images/why-choose-bg.png);
  background-size: cover;
  background-position: center;
  padding: 120px 0;
  overflow: hidden;
}

.why-choose__sec .sec-head {
  text-align: center;
  color: #fff;
  max-width: 758px;
  margin: 0 auto 40px;
}

.why-choose__sec .sec-head h2 {
  font-size: 67px;
  line-height: 1;
  font-weight: 500;
}

.why-choose__box {
  display: flex;
  align-items: center;
  gap: 11px;
  border: 1px solid #ffffff6b;
  padding: 12px;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  background: #ffffff1a;
  border-radius: 10px;
  height: 100%;
  color: #fff;
}

.why-choose__box-img {
  background: #fff;
  /* width: 45px; */
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  flex: 0 0 45px;
}
.why-choose__box-img img {
  width: 25px;
}

.why-choose__box h6 {
  margin: 0;
  font-size: 16px;
}

.faq-sec {
  margin: 60px 0;
  overflow: hidden;
}

.faq-sec .accordion-item {
  background: #0000;
  border: initial;
  border-bottom: 1px solid #707070;
  border-radius: 0 !important;
  border-radius: initial !important;
}
.faq-sec .accordion-button {
  color: #212121;
  background-color: transparent;
  box-shadow: unset;
  padding-left: 0;
  font-size: 18px;
  font-weight: 500;
}
.faq-sec .accordion-button:not(.collapsed) {
  background: transparent;
  border: unset;
  box-shadow: unset;
  color: #212121;
}
.faq-sec .accordion-body {
  color: #707070;
  padding-left: 0;
  padding-top: 0;
  font-size: 15px;
}
.faq-sec .accordion-item {
  background: transparent;
  border: unset;
  border-bottom: 1px solid #707070;
  border-radius: unset !important;
}

.accordion-button::after {
  content: "";
  background-image: url("Assets/images/plus-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 1rem;
  height: 1rem;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("Assets/images/minus-icon.png");
  transform: rotate(0deg);
}

.faq-sec .sec-head h2 {
  font-size: 69px;
  font-weight: 500;
  line-height: 1;
}

.faq-sec .sec-head {
  margin-bottom: 10px;
}

.faq-sec__leftCol {
  position: relative;
  padding: 40px 20px 40px 0;
  height: 100%;
}
.faq-sec__leftCol:after {
  content: "";
  position: absolute;
  left: -50%;
  top: 0;
  width: 150%;
  height: 100%;
  background: #e7e0da;
  border-radius: 20px;
}

.faq-sec__leftCol .sec-head,
.faq-sec__leftCol .faqs-items {
  position: relative;
  z-index: 1;
}

.grow-wedding__business {
  margin: 60px 0;
  overflow: hidden;
}

.grow-wedding__business .sec-head h2 {
  font-size: 59px;
  font-weight: 500;
  line-height: 1;
}

.grow-wedding__business .sec-head p {
  font-size: 16px;
  color: #212121;
}

.grow-wedding__business-boxes {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.grow-wedding__business-box {
  display: flex;
  align-items: center;
  gap: 16px;
  border: 1px solid #70707036;
  padding: 10px 10px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #ffffff;
}
.grow-wedding__business-box-icon {
  background: #212121;
  /* width: 70px; */
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border-radius: 5px;
  flex: 0 0 55px;
}

.grow-wedding__business-box-icon img {
  width: 30px;
  line-height: 1;
  object-fit: contain;
  object-position: center;
}

.grow-wedding__business-box-content {
  flex-grow: 1;
}

.grow-wedding__business-box-content h4 {
  font-size: 20px;
  margin: 0;
  font-weight: 500;
}

.grow-wedding__business-box-content p {
  font-size: 14px;
  margin: 0;
  color: #686868;
  line-height: 1.3;
}

.grow-wedding__business-leftCol {
  position: relative;
  padding: 40px 20px 40px 0;
  height: 100%;
  display: flex;
  align-items: center;
}
.grow-wedding__business-leftCol:after {
  content: "";
  position: absolute;
  left: -50%;
  top: 0;
  width: 150%;
  height: 100%;
  background: #e7e0da;
  border-radius: 20px;
}

.grow-wedding__business-leftCol .sec-head {
  position: relative;
  z-index: 1;
}

.plan-three {
  margin: 60px 0;
  overflow: hidden;
}

.plan-three .sec-head h2 {
  font-size: 60px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 16px;
}

.plan-three__boxes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  background-image: url(assets/images/plan-three-line.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  padding: 100px 0;
}

.plan-three__box p {
  font-size: 19px;
  line-height: 1.1;
  position: relative;
  z-index: 2;
  color: #212121;
}

.plan-three__box {
  max-width: 210px;
  position: relative;
}

.plan-three__box h5 {
  text-align: end;
  font-weight: 700;
  font-size: 40px;
  position: relative;
  z-index: 1;
  width: fit-content;
  margin: 0 0 -15px auto;
  background: linear-gradient(to top, #ffffff 20%, #000000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.plan-three__box-icon {
  background-color: #212121;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0px);
}
.plan-three__box-icon img {
  width: 35px;
}

.plan-three__box-icon-1 {
  top: 147%;
}
.plan-three__box-icon-2 {
  bottom: 147%;
}
.plan-three__box-icon-3 {
  top: 147%;
}

/* Inner Pages Start */
.inner-banner {
  background: #000;
  padding: 230px 0 140px;
  color: #fff;
  background-size: cover;
  background-position: center;
}

.inner-banner__content h1 {
  font-size: 70px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 16px;
}
.inner-banner__content p {
  font-size: 16;
  color: #aaaaaa;
}

.service-cards-total {
  color: #686868;
  font-size: 30px;
  font-weight: 500;
  margin: 0;
}

.service-cards-top {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.service-cards-top-filters {
  background-color: #e7e0da;
  padding: 8px;
  display: flex;
  gap: 13px;
  border-radius: 5px;
}

.services-cards-filter-btn {
  padding: 3px 12px;
  display: flex;
  align-items: center;
  gap: 5px;
  border: unset;
  border-radius: 5px;
  font-size: 17px;
  color: #686868;
  background: transparent;
}
.services-cards-filter-btn.active {
  background: #fff;
}

.service-card__image {
  position: relative;
}

.service-card {
  margin-bottom: 25px;
}

.service-card__image .swiper-slide .service-image {
  width: 100%;
}
.service-card__image .favorite-btn {
  background: #00000036;
  border-radius: 4px;
  opacity: 1;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: unset;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2;
  color: #fff;
  line-height: 1;
  width: 40px;
  height: 40px;
  font-size: 26px;
}

.service-card__image .swiper-button-prev:after,
.service-card__image .swiper-button-next:after {
  color: #fff;
  font-weight: 900;
  font-size: 16px;
}

.service-card__image .swiper-button-prev,
.service-card__image .swiper-button-next {
  height: unset;
}
.service-card__image .swiper-pagination-bullet {
  border-radius: 7px;
  border: 1px solid #fff;
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
}
.service-card__image .swiper-pagination-bullet-active {
  background-color: #fff;
  width: 50px;
}

.service-card__content h3 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 16px;
}

.service-card__content p {
  font-size: 16px;
  color: #686868;
}

.service-card__content-meta {
  color: #686868;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

.service-card__content-meta-rating {
  color: #000;
}

.service-card__content .features {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
  color: #686868;
}
.photographers-list__sec {
  padding: 70px 0;
  overflow: hidden;
}
.service-card__content-btn {
  font-size: 16px;
  border: 1px solid;
  color: #fff;
  padding: 10px 20px;
  line-height: 1;
  border-radius: 30px;
  transition: all 0.25s linear;
  background-color: #000;
  border-color: #000;
}
.service-card__content-btn:hover {
  border-color: #212121;
  color: #212121;
  background-color: #fff;
}
.pagination-next-btn:hover {
  border-color: #212121 !important;
  color: #212121 !important;
  background-color: #fff !important;
}

.service-card__content .actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.service-card__content .actions span {
  font-size: 17px;
  font-weight: 500;
}

.services-cards__pagination {
  display: flex;
  justify-content: center;
  gap: 7px;
}

.services-cards__pagination button {
  color: #686868;
  border: 1px solid #686868;
  line-height: 1;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-radius: 5px;
  font-size: 16px;
}

.services-cards__pagination button.active {
  background: #212121;
  color: #fff;
}

.pagination-next-btn {
  background-color: #212121 !important;
  color: #fff !important;
  padding: 0px 40px;
  border-radius: 22px !important;
  transition: all .25s linear;
}

.wedding-vendors__sec {
  padding: 60px 0 30px;
  background-color: #fff;
  max-width: 1350px;
  margin: -220px auto 40px;
  border-radius: 20px;
}

.wedding-vendors__sec .sec-head h2 {
  font-size: 50px;
  line-height: 1;
  font-weight: 500;
}

.wedding-vendors__sec .sec-head {
  max-width: 650px;
}

.wedding-vendors__sec .sec-head p {
  font-size: 16px;
  color: #686868;
}

/* .wedding-form-group */
.form-label {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  user-select: none;
  margin-bottom: 5px;
}

.form-control {
  border: 1px solid #707070;
  padding: 10px 16px;
  color: #686868;
  border-radius: 30px;
}
.form-control:focus {
  box-shadow: unset;
}
textarea.form-control {
  resize: none;
  border-radius: 12px;
}

.form-check-input[type="radio"] {
  border: 1px solid #686868;
}
.form-check-input[type="radio"]:focus {
  box-shadow: unset;
}
.form-check-input:checked {
  background: #686868;
}

label.form-check-label {
  color: #686868;
  font-size: 15px;
}

.wedding-checkboxes {
  display: flex;
  column-gap: 16px;
  flex-wrap: wrap;
}

.wedding-form-group {
  margin-bottom: 25px;
}
.wedding-form-group-p {
  color: #686868;
  font-size: 15px;
  margin-bottom: 10px;
}

.form-submit__btn {
  font-size: 16px;
  border: 1px solid;
  color: #fff;
  padding: 13px 16px;
  line-height: 1;
  border-radius: 30px;
  transition: all 0.25s linear;
  background-color: #000;
  min-width: 250px;
}

.WeddingVendorsDetails__page .main-navbar {
  position: unset;
}
.WeddingVendorsDetails__page .main-navbar .navbar-nav .nav-link {
  color: #212121;
}
.WeddingVendorsDetails__page .main-navbar .navbar-nav .nav-link::after {
  background-color: #212121;
}
.WeddingVendorsDetails__page .mainNav-right__icon {
  color: #212121;
}
.WeddingVendorsDetails__page .mainNav-right .login-btn {
  color: #212121;
}
.WeddingVendorsDetails__page .mainNav-right .login-btn:hover {
  color: #fff;
}
.WeddingVendorsDetails__page .mainNav-right .become-vendor-btn:hover {
  background-color: transparent;
  border-color: #212121 !important;
  filter: unset;
  color: #212121;
}
.WeddingVendorsDetails__page .main-navbar .navbar-brand img {
  filter: invert(1);
}

.weddingVendors-gallery {
  display: flex;
  gap: 12px;
}
.weddingVendors-gallery-div-2-1 {
  display: flex;
  align-items: stretch;
  gap: 12px;
}
.weddingVendors-gallery-div-2-1 div {
  overflow: hidden;
  border-radius: 10px;
}
.weddingVendors-gallery-div-1 {
  flex: 0 0 45%;
  overflow: hidden;
  border-radius: 10px;
}
.weddingVendors-gallery-div-2 {
  flex: 0 0 55%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.weddingVendors-gallery-div-2-2 img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
}
.weddingVendors-gallery-div-2-1 img {
  height: 250px;
  object-fit: cover;
  object-position: center;
}
.weddingVendors-gallery-div-1 img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.weddingVendors-gallery img {
  transition: transform 0.3s ease, filter 0.3s ease;
  cursor: pointer;
}

.weddingVendors-gallery img:hover {
  transform: scale(1.05);
  filter: brightness(0.8);
}

.weddingVendors-gallery-div-2-2 {
  overflow: hidden;
  border-radius: 10px;
}
.weddingVendors__details {
  padding: 60px 0;
  border-top: 1px solid #686868;
  overflow: hidden;
}

.weddingVendors__details .service-card__content .features {
  flex-direction: column;
  align-items: start;
  gap: 6px;
}
.weddingVendors__details .service-card__content {
  padding: 0 16px;
}

.about-vendor__leftContent-img-div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.about-vendor__leftContent-img {
  flex: 0 0 120px;
  border-radius: 50%;
  overflow: hidden;
}
.about-vendor__leftContent-img img {
  width: 100%;
}

.about-vendor__leftContent-details h5 {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 20px;
}

.about-vendor__leftContent-details p {
  color: #aaaaaa;
  margin: 0;
}

.about-vendor__leftContent h4 {
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 30px;
}

.about-vendor {
  margin-top: 30px;
}

.about-vendor__rightContent p {
  font-size: 16px;
  margin-bottom: 6px;
  color: #212121;
}

.readMore {
  text-decoration: underline;
  border: unset;
  background: transparent;
  color: #212121;
  font-size: 17px;
}

.about-vendor__rightContent h4 {
  font-size: 23px;
  font-weight: 500;
  margin: 14px 0;
}

.about-vendor__rightContent {
  border-left: 1px solid #707070;
  padding: 5px 0 30px 20px;
}

.inner-banner__multiStep-form {
  background: rgba(0, 0, 0, 0.1);
  padding: 30px 20px;
  border-radius: 20px;
  min-height: 580px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid #707070;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.inner-banner__multiStep-form form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.inner-banner__multiStep-form .form-control {
  background-color: transparent;
  color: #aaaaaa;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.inner-banner__multiStep-form .form-control::placeholder {
  color: #aaaaaa;
}
.inner-banner__multiStep-form .form-select {
  --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23cccccc' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
  color: #ccc;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.inner-banner__multiStep-form .form-select option {
  background-color: #111; /* fallback dark style */
  color: #ccc;
}
.inner-banner__multiStep-form .step-buttons {
  display: flex;
  gap: 10px;
}
.inner-banner__multiStep-form .step-buttons button {
  background-color: #212121;
  color: #fff;
  padding: 16px;
  line-height: 1;
  border: unset;
  flex-grow: 1;
  border-radius: 30px;
  font-size: 16px;
  transition: 0.25s all linear;
}
.inner-banner__multiStep-form .step-buttons button:hover {
  filter: invert(1);
}

.inner-banner__multiStep-form input[type="date"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 24 24'%3e%3cpath d='M19 4h-1V2h-2v2H8V2H6v2H5c-1.1 0-1.99.9-1.99 2L3 20c0 1.1.89 2 1.99 2H19c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V9h14v11z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1.2rem;
}

.wedding-form-group-multiForm-radio {
  display: flex;
  justify-content: space-between;
}
.inner-banner__multiStep-form .form-check-input[type="radio"] {
  border: 3px solid #686868;
}
.inner-banner__multiStep-form .form-check-input:checked {
  background: #000;
  border: 2px solid #fff;
}
.inner-banner__multiStep-form .form-label {
  color: #ccc;
  font-weight: 400;
}
.inner-banner__multiStep-form .form-check-label {
  color: #ccc;
  font-size: 15px;
}

.upload-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #707070;
  border-radius: 16px;
  height: 120px;
  width: 100%;
  color: #aaaaaa;
  cursor: pointer;
  text-align: center;
  position: relative;
}
.upload-box__logo {
  height: 220px;
}

.preview-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #707070;
}

.preview-box img {
  width: 200px;
  height: 150px;
  object-fit: contain;
}

.preview-box button {
  border: none;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  right: 0;
  background: transparent;
  top: 0;
}

.preview-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.preview-grid .preview-box {
  position: relative;
}

.preview-grid img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

.preview-grid button {
  position: absolute;
  top: -10px;
  right: -13px;
  border: none;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  font-size: 12px;
  padding: 2px 5px;
}
.inner-banner__multiStep-form .wedding-form-group {
  margin-bottom: 20px;
}

.wedding-business__banner {
  padding: 170px 0 60px;
}
/* Inner Pages End */

/* Footer Start */
.main-footer,
.footer-copyright {
  background-color: #fff;
}
.main-footer {
  border-top: 1px solid #686868;
}
.footer-quick__links-header {
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 25px;
}

.footer-quick__link {
  color: #686868;
  text-decoration: none;
  font-size: 16px;
  line-height: 1;
  width: max-content;
  position: relative;
  transition: all 0.3s ease;
  padding-bottom: 5px;
}
.footer-quick__link::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 2px;
  background-color: #686868;
  bottom: 0;
  transition: width 0.3s ease;
}
.footer-quick__link:hover {
  font-weight: 500;
}
.footer-quick__link:hover::after {
  width: 100%;
}

.footer-quick__links-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-footer__content-logo {
  max-width: 200px;
  display: inline-block;
}
.main-footer__content-logo img {
  width: 100%;
}
.main-footer__content p {
  font-size: 16px;
  color: #686868;
}
.main-footer__content {
  height: 100%;
  border-left: 1px solid #686868;
  padding-left: 30px;
}

.main-footer__left,
.main-footer__content {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-social-links {
  display: flex;
  gap: 16px;
}

.footer-social-link {
  font-size: 25px;
  color: #000;
  line-height: 1;
  transition: all 0.3s;
  &.facebook:hover {
    color: #1877f2;
  }
  &.instagram:hover {
    color: #e1306c;
  }
  &.whatsapp:hover {
    color: #128c7e;
  }
  &.pinterest:hover {
    color: #e60023;
  }
}

.copyright-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copyright-text {
  margin: 0;
}

.footer-copyright {
  border-top: 1px solid #686868;
  padding: 20px 0;
}

.copyright-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copyright-text {
  margin: 0;
  color: #686868;
  font-size: 16px;
}

.footer-copyright {
  border-top: 1px solid #686868;
  padding: 20px 0;
}

.copyright-links {
  display: flex;
  align-items: center;
  gap: 16px;
}
.copyright-link {
  color: #686868;
  text-decoration: none;
  font-size: 16px;
  font-size: 16px;
  line-height: 1;
  width: max-content;
  position: relative;
  padding-bottom: 2px;
}

.copyright-link::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 2px;
  background-color: #686868;
  bottom: 0;
  transition: width 0.3s ease;
}
.copyright-link:hover::after {
  width: 100%;
}

/* Footer End */

/* Media Quries */
@media (max-width: 1399px) {
  .main-navbar .navbar-brand img {
    width: 160px;
  }
  .main-navbar .navbar-nav .nav-link {
    padding: 8px 5px;
    font-size: 15px;
  }
  .mainNav-right .nav-link {
    font-size: 15px;
  }
  .mainNav-right__icon {
    font-size: 23px;
  }
  .plan-three__boxes {
    height: 100%;
    background-size: 100% 80%;
    padding: 80px 0;
  }
  .plan-three__box {
    max-width: 190px;
  }
  .plan-three__box-icon-1 {
    top: 112%;
  }
  .plan-three__box-icon-3 {
    top: 112%;
  }
  .plan-three__box-icon-2 {
    bottom: 112%;
  }
  .plan-three__box p {
    font-size: 17px;
  }

  .faq-sec .sec-head h2 {
    font-size: 59px;
  }
  .wedding-vendors__sec {
    max-width: 1180px;
  }
}

@media (max-width: 1199px) {
  .about-vendor__rightContent p {
    font-size: 15px;
  }
  .inner-banner__content h1 {
    font-size: 55px;
  }
  .main-navbar .navbar-brand img {
    width: 130px;
  }
  .main-navbar .navbar-nav .nav-link {
    padding: 8px 5px;
    font-size: 14px;
  }
  .main-banner__content h1 {
    font-size: 41px;
  }
  .plan-three .sec-head h2 {
    font-size: 46px;
  }
  .home-about__sec .sec-head h2 {
    font-size: 60px;
  }
  .why-choose__box h6 {
    font-size: 15px;
  }
  .why-choose__box {
    padding: 10px;
  }
  .why-choose__sec .sec-head h2 {
    font-size: 60px;
  }
  .grow-wedding__business .sec-head h2 {
    font-size: 50px;
  }
  .faq-sec .sec-head h2 {
    font-size: 50px;
  }
  .faq-sec .accordion-button {
    font-size: 16px;
  }

  .testimonial-card-content h4 {
    font-size: 18px;
  }

  .testimonial-card-flex-row .testimonial-card-img {
    flex: 0 0 110px;
  }

  .testimonial-sec .sec-head h2 {
    font-size: 28px;
  }
  .testimonial-sec .sec-head {
    max-width: 340px;
    margin: -110px auto 30px;
  }
  .sec-tag {
    font-size: 16px;
    margin-bottom: 4px;
  }
  .plan-three__boxes {
    height: 100%;
    background-size: 100% 80%;
    padding: 70px 0;
  }
  .plan-three__box {
    max-width: 170px;
  }

  .wedding-vendors__sec {
    max-width: 980px;
  }
  .footer-quick__links-header {
    font-size: 20px;
  }
  .footer-quick__link {
    font-size: 15px;
  }
  .footer-quick__links-list {
    gap: 16px;
  }
  .main-footer__content {
    padding-left: 16px;
  }
  .copyright-link {
    font-size: 15px;
  }
  .copyright-text {
    font-size: 15px;
  }
  .main-footer__content p {
    font-size: 15px;
  }

  .service-card__content p {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .service-card__content h3 {
    font-size: 25px;
    margin-bottom: 6px;
  }

  .service-card__content-meta {
    font-size: 14px;
  }

  .service-card__content .features {
    margin-bottom: 9px;
  }

  .service-card__content .features span {
    font-size: 14px;
  }
}
.mainNav-outer__div-mobile {
  display: none;
}
@media (max-width: 991px) {
  .inner-banner {
    background-position: right;
  }
  .inner-banner__multiStep-form {
    margin: 30px auto 0;
  }
  .mainNav-outer__div {
    display: none;
  }
  .mainNav-outer__div-mobile {
    width: 100%;
    display: block;
  }
  .mainNav-list,
  .mainNav-right {
    width: unset;
  }

  .mainNav-list {
    background: #000;
    padding: 20px;
  }
  .mainNav-right {
    justify-content: start;
    flex-wrap: wrap;
  }
  .main-navbar .navbar-brand {
    flex-grow: unset;
  }
  .mainNav-outer__div-mobile-logoIcon {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .WeddingVendorsDetails__page .mainNav-right .become-vendor-btn:hover {
    background-color: transparent;
    border-color: #fff !important;
    color: #fff;
  }
  .WeddingVendorsDetails__page .main-navbar .navbar-nav .nav-link {
    color: #fff;
  }
  .WeddingVendorsDetails__page .mainNav-right .login-btn {
    color: #fff;
  }
  .WeddingVendorsDetails__page .mainNav-right__icon {
    color: #fff;
  }
  .WeddingVendorsDetails__page .navbar-toggler {
    border-color: #000;
  }
  .WeddingVendorsDetails__page .navbar-toggler .navbar-toggler-icon {
    filter: brightness(0);
  }

  .testimonial-sec .sec-head {
    max-width: 460px;
    margin: 0 auto 30px;
  }

  .testimonial-sec-head-col {
    order: -1;
  }

  .testimonial-col-1 {
    order: 2;
  }

  .testimonial-col-2 {
    order: 1;
  }

  .testimonial-col-3 {
    order: 3;
  }

  .testimonial-col-4 {
    order: 4;
  }

  .testimonial-sec {
    margin: 30px 0;
  }
  .testimonial-sec .sec-head h2 {
    font-size: 38px;
  }
  .testimonial-user h5 {
    font-weight: 500;
  }
  .home-about__sec .sec-head h2 {
    font-size: 46px;
  }
  .home-about__sec .sec-head p {
    font-size: 15px;
  }
  .why-choose__sec {
    padding: 60px 0;
  }
  .stress-free__sec {
    padding: 60px 0;
  }
  .plan-three .sec-head {
    text-align: center;
    margin-top: 40px;
  }
  .weddingVendors__details .service-card__content {
    padding: 0 0px;
  }
  .weddingVendors-gallery-div-2-1 img {
    height: 200px;
  }
  .weddingVendors-gallery-div-2-2 img {
    height: 200px;
  }
  .about-vendor__rightContent {
    border-left: unset;
    padding: 5px 0 30px 0px;
  }

  .about-vendor__leftContent-img-div {
    margin-bottom: 20px;
  }

  .weddingVendors__details {
    padding: 60px 0 20px;
  }
  .service-card__content {
    margin-top: 16px;
  }
  .wedding-vendors__sec {
    max-width: 750px;
  }
  .main-footer__content {
    padding: 0 0 40px;
    border: 0;
  }

  .main-footer__left {
    padding: 0;
  }

  .main-footer {
    padding: 40px 0;
  }
  .footer-copyright {
    padding: 16px 0;
  }
}

@media (max-width: 767px) {
  .faq-sec {
    margin: 40px 0;
  }
  .faq-sec .sec-head h2 {
    font-size: 40px;
  }
  .plan-three__boxes {
    padding: 0;
    flex-direction: column;
    background-image: unset;
    gap: 16px;
  }
  .stress-free__sec .sec-head h2 {
    font-size: 50px;
    line-height: 1;
  }
  .plan-three__box p {
    font-size: 20px;
  }
  .why-choose__sec .sec-head h2 {
    font-size: 45px;
  }
  .testimonial-card-flex-row .testimonial-card-img {
    flex: 0 0 35%;
  }
  .main-banner {
    padding: 160px 0 100px;
  }
  .grow-wedding__business .sec-head h2 {
    font-size: 40px;
  }
  .home-about__sec {
    padding: 40px 0;
  }
  .why-choose__sec {
    padding: 40px 0;
  }

  .plan-three__box {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .plan-three__box-1,
  .plan-three__box-3 {
    flex-direction: column-reverse;
  }
  .plan-three__box-icon {
    margin: 0 auto;
    position: unset;
    transform: unset;
  }
  .plan-three__box h5 {
    text-align: center;
    margin: 0 auto;
  }

  .weddingVendors-gallery {
    flex-direction: column;
  }
  .weddingVendors-gallery-div-2-2 img {
    height: unset;
  }
  .photographers-list__sec {
    padding: 40px 0;
  }
  .wedding-vendors__sec {
    max-width: 555px;
    margin: -140px auto 40px;
  }
  .footer-quick__links-div {
    padding-bottom: 30px;
  }
  .footer-quick__links-header {
    font-size: 25px;
    margin-bottom: 16px;
  }
  .main-footer {
    padding: 40px 0 0;
  }

  .copyright-content {
    flex-direction: column;
    gap: 7px;
  }
  .inner-banner__content h1 {
    font-size: 38px;
  }
  .inner-banner {
    padding: 160px 0 80px;
  }
  .grow-wedding__business {
    margin: 40px 0;
  }
}
@media (max-width: 575px) {
  .wedding-vendors__sec {
    max-width: 555px;
    /* margin: -251px 10px 40px; */
    padding: 40px 5px;
  }
  .wedding-form-group {
    margin-bottom: 16px;
  }
  .wedding-vendors__sec .sec-head h2 {
    font-size: 35px;
  }
  .form-label {
    margin-bottom: 8px;
    line-height: 1.2;
  }
}

@media (max-width: 480px) {
  .inner-banner__multiStep-form .wedding-form-group {
    flex-direction: column;
  }
  .service-card__content .features {
    gap: 10px;
  }
  .grow-wedding__business .sec-head h2 {
    font-size: 35px;
  }
  .grow-wedding__business-box-content h4 {
    font-size: 16px;
  }
  .faq-sec .sec-head h2 {
    font-size: 35px;
  }
  .main-banner__content h1 {
    font-size: 35px;
    line-height: 1;
    margin-top: 10px;
  }
}
@media (max-width: 430px) {
  .copyright-links {
    flex-direction: column;
    gap: 8px;
  }
  .why-choose__sec .sec-head h2 {
    font-size: 35px;
  }
}
